.game-wrapper {
  width: var(100% - 4rem);
  height: 500px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board {
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.7rem;

  padding: 1rem;

  z-index: 1;
}

.square {
  height: 100px;
  aspect-ratio: 1/1;

  border-radius: var(--BR);
  background-color: var(--clr2);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  animation: down-up 0.8s;

  transition: 0.2s;

  font-size: 70px;
}

.square:hover {
  transform: scale(1.05);
}
.square:active {
  transform: scale(0.95);
}

.players {
  --padding: 10%;
  position: absolute;
  width: calc(80% - var(--padding));

  display: flex;
  justify-content: space-between;
  padding: var(--padding);

  z-index: 0;

  animation: down-up 0.3s;
}
.players div {
  background-color: var(--clr2);
  padding: 1rem;
  border-radius: var(--BR);
}
@media (max-width: 800px) {
  .players {
    position: inherit;
    padding: 2rem;
  }
}

.not-allowed {
  cursor: not-allowed !important;
}

.finish-state {
  padding: 1rem;
}

.highlight {
  background-color: var(--clr3);
}

.btn {
  position: relative;
  background-color: transparent;
  color: var(--clr4);
  outline: none;
  font-size: 40px;
  font-family: "Happy Monkey", system-ui;
  padding: 1rem;
  border: none;
  border-radius: var(--BR);
  transition: all 0.5s;

  overflow: hidden;
}
.btn::after,
.btn::before {
  content: "";
  position: absolute;

  height: 100%;
  transform: skewX(-30deg);

  background-color: var(--clr2);
  z-index: -1;

  transition: .5s;
}
.btn::before {
  width: 20%;
  background-color: var(--clr2);
  top: -1px;
  left: -100%;
}
.btn::after {
  width: 80%;
  top: 0;
  left: -100%;
}
.btn:hover::after {
  /* transform: skewX(0deg); */
  top: 0rem;
  left: 0%;
}
.btn:hover::before {
  top: 0rem;
  left: 90%;
}
.btn:hover {
  box-shadow: 3px 3px 10px var(--clr4);
}
.btn:active {
  transform: scale(0.95);
}

.waiting {
  position: absolute;
  display: flex;
  padding-right: 10px;
  font-size: 30px;
}
.waiting::after {
  position: absolute;
  right: -5px;
  content: ".";
  animation: blink .9s infinite ease-in-out 1s;
  /* animation-delay: 1s; */
  /* padding: 0 1rem; */
}
.waiting::before {
  position: absolute;
  right: 3px;
  content: ".";
  animation: blink 1s infinite ease-in-out;
}
